.festival{

    .festival-card{
        background-color: #ffd912;
        width: 80vw;
        height: 300px;

        .festival-card-top{
        }

        .festival-card-bottom{

            .festival-card-bottom-image{
                                        bottom: 0;

                .festival-card-bottom-image-container{

                    .mountain-image{
                    }
                }
            }
        }
    }
}