.mbl-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .mbl-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .mbl-header-h1{
            position: absolute;
            padding-top: 90px;
            padding-left: 50px;
            background-color: transparent;

            h1{
                position: absolute;
                background-color: transparent;
                color: white;
                font-size: 90px;
            }
        }


    }
    .mbl-content{
        display: flex;
        gap:20px;
        flex-direction: column;
        max-width: 900px;
        padding: 40px 20px 20px 20px;

        p{
            font-size: 18px;
        }
    }
.mbl-bar{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 20px;
    align-items: center;

    .mbl-bar-image{
        position: absolute;
        width: 285px;
        left: calc(31.6667% - 142.5px);
        background-color: transparent;
        img{
            width: 100%;
            background-color: transparent;
        }
    }
    .mbl-bar-blank{
        height: 100px;
    }

    .mbl-bar-cyan{
        background-color: #5cbcae;
        width: 100%;
        height: min-content;
        display: flex;
        align-items: center;
        justify-content: center;

        .mbl-bar-cyan-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            width: 900px;

            .mbl-bar-cyan-left{
                width: 450px;
            }

            .mbl-bar-cyan-right{
                gap: 20px;
                padding: 25px 15px;
                background-color: transparent;
                
                .mbl-bar-cyan-right-text{
                    background-color: transparent;
                    p{
                        font-size: 22px;
                        font-weight: 600;
                        background-color: transparent;
                    }
                }
                .academia-button{
                    margin-top: 10px;
                    background-color: black;
                    color: #fff;
                    border: none;
                    padding: 15px 20px;
                    border-radius: 8px;
                    cursor: pointer;

                    a{
                        background-color:transparent;
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                    }

                &:hover {
                    background-color: #333333;
                }
            }
            }
        }
    }
    
}
.timeline-rool{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .mbl-title{
        color: #001122;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.4px;
    text-align: left;
    }

    .timeline-cards{
        padding-top: 50px;
    }
}
}