.pvlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: transparent;

    .pvlist-buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        background-color: transparent;

        p{
            color: #999999;
            font-size: 16px;
            cursor: pointer;
            background-color: transparent;
            &.active {
                color: #000;
            }
        }
    }


.pvlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: transparent;
}

}