#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 0 20px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
    color: gray;
    gap: 5%;
    


    .newsletter-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        background-color: transparent;
            width: 400px;

        p {
            color: black;
            font-size: 18px;
            font-weight: 400;
                    background-color: transparent;

        }

        .newsletter-image {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            padding: 20px 0;
            background-color: transparent;

            h2{
                color: black;
                padding-left: 20px;
                background-color: transparent;

            }
        }
    }
    .newsletter-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        padding: 20px 0;
        background-color: transparent;
        width: 400px;


        .newsletter-inputs {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            p{
                color: gray;
                background-color: transparent;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            input {
                background-color: transparent;
                width: 100%;
                padding: 10px;
                background-color: #f9f9f9;
                margin-bottom: 10px;
                border-radius: 5px;
                border: 0;
            }
        }
        .newsletter-checkbox {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: 10px;

            p{
                background-color: transparent;
                color: gray;
                font-size: 10px;
                font-weight: 400;
            }
            input {
                background-color: transparent;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                color: #eb894f;
            }
            input:checked {
                background-color: transparent;
                background-color: #eb894f;
            }
        }
        .newsletter-button {
        background-color: transparent;
        border-radius: 6px;
        padding: 12px 22px;
        cursor: pointer;
        background-color: #5cbcae;
        border: none;
        color: #f7f5ff;
        font-family: inherit;
        font-weight: 500;
        width: 100%;
        display: flex;
        justify-content: center;

           &:hover {
                background-color: #924953;
            }
           
           button {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                color: inherit;
                font-family: inherit;
                font-weight: inherit;
                cursor: pointer;
           }
        }
    }
}