header {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 70px;
    justify-content: space-around;
    background-color: #f9f9f9;
    width: 100vw;
    flex: none;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;


    .navbar {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    padding: 0 40px;
    overflow: visible;
    position: relative;
    max-width: 1200px;
    background-color: transparent;

        .logo_header{
            background-color: #f9f9f9;
        }

        .nav-right {
            display: flex;
                background-color: transparent;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }

    }

    .nav-items {
        display: flex;
        background-color: transparent;
        gap: 25px;
        align-items: center;
        list-style: none;
        font-size: 25px;
        font-weight: 500;

    }

    .newsletter-button {
        border-radius: 6px;
        padding: 12px 22px;
        cursor: pointer;
        background-color: #5cbcae;
        border: none;
        color: #f7f5ff;
        font-family: inherit;
        font-weight: 500;
    }
}