
    .footerbar {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        bottom: 0;
        width: 100%;
        padding: 20px 3%;
        background-color: #eeeeee;
        color: gray;

        .footer-left {
                background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                    background-color: transparent;
            }
            .logo_footer {
                background-color: transparent;
            }
        }
        .footer-right {
                background-color:transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

            a{
                background-color: transparent;
                
                img{
                    background-color: transparent;
                }
            }
        }    
        .direitos{
                background-color: transparent;
            font-size: 10px;
            margin-bottom: 10px;
        }
    }