.news-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0.796192px 2.38858px -0.625px, rgba(0, 0, 0, 0.08) 0px 2.41451px 7.24352px -1.25px, rgba(0, 0, 0, 0.08) 0px 6.38265px 19.148px -1.875px, rgba(0, 0, 0, 0.08) 0px 20px 60px -2.5px;
    overflow: hidden;
    width: 320px;
    height: 480px;
    gap: 10px;
    cursor: pointer;

    .news-card-image {
        flex: none;
        width: 100%;
        height: 175px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .news-card-content {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;

        h3 {
            font-size: 22px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        p {
            font-size: 18px;
            color: #666;
            font-weight: 400;
            padding-bottom: 10px;
        }

        .news-card-button {
            margin-top: auto;
            background-color: rgb(92, 188, 174);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;
            width: min-content;
            white-space: nowrap;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 0.706592px 0.706592px -0.625px, rgba(0, 0, 0, 0.18) 0px 1.80656px 1.80656px -1.25px, rgba(0, 0, 0, 0.17) 0px 3.62176px 3.62176px -1.875px, rgba(0, 0, 0, 0.16) 0px 6.8656px 6.8656px -2.5px, rgba(0, 0, 0, 0.13) 0px 13.6468px 13.6468px -3.125px, rgba(0, 0, 0, 0.06) 0px 30px 30px -3.75px;
            /* aqui eu copiei mesmo do inspecionar, tava muito dificil fazer parecido */
            a {
                display: flex;
                font-size: 16px;
                background-color: transparent;
                color: white;
                font-weight: 600;
            }
        }
    }
}